body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f3f3f3;
  color: #555;
}

.main {
  width: 960px;
  margin: 10px auto;
  min-height: 500px;
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 10px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;

  .angular-js {
    text-transform: none;
  }
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

pre {
  white-space: normal;
}

.content {
  padding: 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  padding: 0px 5px;
}
