/* line 1, ../../src/styles/selectbox.scss */
.mad-selectbox {
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  position: relative;
  outline: none;
}
/* line 8, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle, .mad-selectbox .mad-selectbox-dropdown li .mad-selectbox-item {
  display: block;
  background-color: #fff;
  padding: 0px 10px;
  font-size: 14px;
  color: #555;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 20, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle:hover, .mad-selectbox .mad-selectbox-dropdown li .mad-selectbox-item:hover {
  text-decoration: none;
}
/* line 35, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle {
  border: 1px solid #ddd;
  position: relative;
}
/* line 40, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle:after {
  content: '';
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #555;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 52, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle.active:after {
  top: 12px;
  right: 9px;
  border-bottom: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #555;
}
/* line 61, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-toggle:hover {
  text-decoration: none;
}
/* line 65, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 100;
  top: 31px;
  left: 0;
  width: 100%;
  max-height: 199px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 82, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
/* line 87, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown::-webkit-scrollbar-track {
  background: #eee;
}
/* line 91, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* line 93, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
/* line 100, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown li.active .mad-selectbox-item {
  background-color: #f3f3f3;
}
/* line 106, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown li:hover .mad-selectbox-item, .mad-selectbox .mad-selectbox-dropdown li.focus .mad-selectbox-item {
  background-color: #fcfcfc;
}
/* line 111, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* line 119, ../../src/styles/selectbox.scss */
.mad-selectbox .mad-selectbox-dropdown li.mad-empty {
  padding: 10px;
  font-size: 14px;
  color: #999;
}
