.mad-selectbox {
  $height: 32px;
  $scrollbar-color: #ccc;
  $border-color: #ddd;
  $color: #555;
  $background: #fff;

  %link {
    display: block;
    background-color: $background;
    padding: 0px 10px;
    font-size: 14px;
    color: $color;
    height: $height;
    line-height: $height;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      text-decoration: none;
    }
  }

  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  position: relative;
  outline: none;

  &.mad-selectbox-multi {

  }

  .mad-selectbox-toggle {
    border: 1px solid $border-color;
    position: relative;
    @extend %link;

    &:after {
      content: '';
      display: block;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $color;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &.active {
      &:after {
        top: 12px;
        right: 9px;
        border-bottom: none;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $color;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .mad-selectbox-dropdown {
    background-color: $background;
    border: 1px solid $border-color;
    position: absolute;
    z-index: 100;
    top: $height - 1px;
    left: 0;
    width: 100%;
    max-height: 199px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #eee;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      &:hover {
        background: darken($scrollbar-color, 10%);
      }
    }

    li {
      &.active {
        .mad-selectbox-item {
          background-color: #f3f3f3;
        }
      }
      &:hover,
      &.focus {
        .mad-selectbox-item {
          background-color: #fcfcfc;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      .mad-selectbox-item {
        @extend %link;
      }

      &.mad-empty {
        padding: 10px;
        font-size: 14px;
        color: #999;
      }
    }
  }
}